@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --phoneixBlue: #2184c2;
  --phoneixGolden: #ceba8b;
  --phoneixcream: #f5e9cf;
  --neutral: #262626;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 888;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--phoneixcream);
  color: var(--neutral);
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 70px;
  margin-right: 10px;
}

.logo-text {
  text-align: center;
  font-size: 14px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  flex: 0.8;
  /* border: 2px solid black; */
}

.nav-links a {
  position: relative;
  color: var(--neutral);
  text-decoration: none;
  margin-left: 20px;
  transition: all 0.5s;
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 5px;
}

.nav-links a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--phoneixBlue);
  transition: width 0.3s;
}

.nav-links a:hover::before,
.nav-links a:focus::before,
.nav-links a:active::before {
  width: 100%;
}

.mobile-menu-icon {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  max-width: 100%;
  background-color: var(--phoneixcream);
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 999;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: var(--neutral);
  text-decoration: none;
  margin: 15px 0;
  transition: all 0.9s;
  font-weight: 400;
  font-size: 1rem;
}

.mobile-nav a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--phoneixBlue);
  transition: width 0.5s;
}

.mobile-nav a:hover::before,
.mobile-nav a:focus::before,
.mobile-nav a:active::before {
  width: 100%;
}

.mobile-nav .close-btn {
  font-size: 3rem;
  color: var(--neutral);
  cursor: pointer;
}

/* hero section  */

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(30%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.hero-title {
  position: absolute;
  z-index: 2;
  color: var(--phoneixcream);
  padding: 2% 4%;
  border-radius: 60px;
  background-color: #2184c2c9;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.controls {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 3;
}

.control-btn {
  background-color: var(--phoneixBlue);
  color: var(--phoneixcream);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.control-btn:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

.control-btn:focus {
  outline: none;
}

/* about us section  */

.about-us {
  padding: 50px 20px;
  text-align: center;
  background-color: var(--light-gray);
}

.about-us h2 {
  font-size: 2.5rem;
  display: inline-block;
  margin-bottom: 30px;
  color: var(--phoneixBlue);
  font-weight: 300;
  border-bottom: 4px solid var(--phoneixGolden);
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.about-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-text {
  max-width: 600px;
  text-align: justify;
}

.about-text p {
  font-size: 1.2rem;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }
  .logo-text {
    display: none;
  }
  .nav-links {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
  }
  .mobile-nav {
    display: block;
  }
  .hero-title {
    font-size: 2rem;
    padding: 0 2rem;
    text-align: center;
  }
  .control-btn {
    display: none;
  }
  /* about us */
  .about-us h2 {
    font-size: 2rem;
  }

  .about-container {
    flex-direction: column;
  }

  .about-text p {
    font-size: 1rem;
    text-align: center;
  }
}
